doctype html
html(lang=lang prefix="og: http://ogp.me/ns#")
  head
    title ~~ nyandagi ~~
    meta(httpEquiv="Content-Type", content="text/html; charset=utf-8")/
    meta(name="description", content="I'm a cute cat who is also an andagi!")/
    meta(name="viewport", content="width=device-width, initial-scale=1")/
    meta(property="og:determiner", content="")/
    meta(property="og:site_name", content="~~ nyandagi ~~")/
    meta(property="og:title", content="~~ nyandagi ~~")/
    meta(property="og:description", content="I'm a cute cat who is also an andagi!")/
    meta(property="og:type", content="website")/
    meta(property="og:url", content="https://nyandagi.cat")/
    meta(property="og:image", content="http://nyandagi.cat/nyandagi.png")/
    meta(property="og:image:width", content="1200")/
    meta(property="og:image:height", content="630")/
    meta(property="og:image:secure_url", content="https://nyandagi.cat/nyandagi.png")/
    meta(property="og:image:alt", content="nyan, nyan!")/
    meta(property="twitter:card", content="summary_large_image")/
    link(href="https://fonts.googleapis.com/css?family=Diplomata+SC|Lato|Merriweather", rel="stylesheet")/
    link(rel="stylesheet", type="text/css", href="/app.css")/
  body(class=lang)
    | {{ content }}

    aside.languages(aria-haspopup="true")
      header(tabindex="0")=language
      ul(aria-label=language)
        li.en
          a(href="/") English
        li.ca
          a(href="/ca") Català
